*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.footer_general_p
{
    padding: 50px 30px 20px;
}
.footer__logo
{
    width: 50px;
    height: 30px;
}
.company__address,
.feedback__mail
{
    font-size: 14px;
}
.list__group
{
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
}
.list__group__item
{
    padding: 5px 0;
}

.disclaimer
{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
@media (max-width: 1199.5px)
{
    .footer__row
    {
        text-align: center;
    }
    .address__area,
    .feedback__area
    {
        justify-content: center;
    }
}